/* got my icons for free from https://icons8.com */


#vb-sidebar .sidebar-button {
    -fx-background-color:black;
    -fx-text-fill: white;
    -fx-cursor:hand;
}

#vb-sidebar .sidebar-button:hover {
    -fx-background-color:#333333;
    -fx-text-fill: #999999;
    -fx-cursor:hand;
}

#vb-sidebar .sidebar-button-active {
    -fx-background-color:#333333;
    -fx-text-fill: white;
    -fx-cursor:hand;
}

#vb-sidebar .slider-button {
    -fx-background-color:#333333;
    -fx-text-fill: white;
    -fx-cursor:hand;
}


#vb-sidebar .slider-button:hover {
    -fx-background-color:#333333;
    -fx-text-fill: #999999;
    -fx-cursor:hand;
}

 /*
 * Empty Stylesheet file.
 */
   .my-buttonCarPairingSignout {
	-fx-graphic:url("img/car_icon_signout_white.png");
}
	.my-buttonCarPairingSignout:hover {
	-fx-graphic:url("img/car_icon_signout.png");
}
  .my-buttonCarPairing {
	-fx-graphic:url("img/car_icon_share.png");
}
	.my-buttonCarPairing:hover {
	-fx-graphic:url("img/car_icon_share_gold.png");
}
 .my-buttonUser {
	-fx-graphic:url("img/car_icon_User_white.png");
}
.my-buttonUser:hover {
	-fx-graphic:url("img/car_icon_User.png");
}
.my-button {
	-fx-graphic:url("img/car_icon_big.png");
}
.my-button:hover {
	-fx-graphic:url("img/car_icon_big_grey.png");
}
.my-buttonMiddleCar {
	-fx-graphic:url("img/car_icon_middle.png");
}
.my-buttonMiddleCar:hover {
	-fx-graphic:url("img/car_icon_middle_grey.png");
}
.my-buttonSmallCar {
	-fx-graphic:url("img/car_icon_mini.png");
}
.my-buttonSmallCar:hover {
	-fx-graphic:url("img/car_icon_mini_grey.png");
}
.my-buttonSUVCar {
	-fx-graphic:url("img/car_icon_SUV.png");
}
.my-buttonSUVCar:hover {
	-fx-graphic:url("img/car_icon_SUV_grey.png");
}
.my-buttonSportsCar {
	-fx-graphic:url("img/car_icon_sports.png");
}
.my-buttonSportsCar:hover {
	-fx-graphic:url("img/car_icon_sports_grey.png");
}

.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
	-fx-font-size: 15px;
}

.table-view .table-cell{
    -fx-text-fill: white;
    
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}